@font-face {
    font-family: 'itc_franklin_gothic_stddemiCn';
    src: url('https://github.com/Bhakee/fonts/blob/a12098bd201f7358581cbd0afa340f4c2b04b51c/itcfranklingothicstd-dmcd.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}
