@font-face {
    font-family: 'itc_franklin_gothic_stddemiCn';
    src: url('itcfranklingothicstd-dmcd.woff2') format('woff2'),
         url('itcfranklingothicstd-dmcd.woff') format('woff'),
	 url('itcfranklingothicstd-dmcd.woff') format('otf');
    font-weight: normal;
    font-style: normal;

}
